@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
}


:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to top, var(--cor06), var(--cor03));
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    font-weight: normal;
    font-size: 3.2em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.232);
    margin-bottom: 20px;
    text-align: center;
    font-family: var(--fonte-destaque);
    color: #fff
}

header > p {
    font-size: 1.1em;
    max-width: 500px;
    text-align: center;
    color: #fff;
    margin: auto;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.232);
    padding: 10px;
}

nav {
    background-color: var(--cor06);
    width: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.231);
    padding: 8px 0px;
    position: absolute;
}

nav > a {
    color: #fff;
    padding: 10px 4px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    transition-duration: 1s;
    text-align: center;
    margin: 0px;
}

nav a:hover {
    background-color: var(--cor02);
    color: var(--cor05);

}

nav:has(a:hover) a:not(:hover) {
    color: var(--cor06);
}

body {
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
}

main {
    background-color: #fff;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.298);
}

main h1 {
    color: var(--cor06);
    font-family: var(--fonte-android);
    font-weight: normal;
    text-align: center;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor06);
    background-image: linear-gradient(to right, var(--cor02), transparent);
    padding: 2px;
    text-indent: 15px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main p {
    font-size: 1.15em;
    margin: 5px 0px;
    text-indent: 25px;
    text-align: justify;
    line-height: 1.4em;
}

main strong {
    color: var(--cor06);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor06);
    background-color: var(--cor01);
    padding: 2px 5px;
}

main a:hover {
    background-color: var(--cor02);
    text-decoration: underline;
    padding: 3px 6px;
}

a.externo:after {
    content: '\00A0\1F517';
}

aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.108);
}

aside > h3 {
    background-color: var(--cor05);
    color: #fff;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    font-size: 0.7em;
    list-style-type: '\2705\00A0\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 3px 0px;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor06);
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer a {
    background-color: var(--cor06);
    color: rgba(255, 255, 0, 0.721);
    text-decoration: underline;
    padding: 4px;
    border-radius: 6px
}

footer abbr {
    text-decoration: none;
}

footer a:hover {
    font-size: 1.1em;
    color: var(--cor06);
    background-color: var(--cor01);
    text-decoration: none;
}