@charset "UTF-8";

body {
    background-color: #C6FFC6;
}

#titulo {
    font-size: 2.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #fff;
    padding-bottom: 4px;
}

nav {
    width: 325px;
    padding: 5px;
}

nav > a {
    text-decoration: none;
    color: #fff;
    padding: 5px 1px 5px 6px;

}

header {
    width: auto;
    background-image:linear-gradient(to top,#0b650b, #0d770d93);
    padding: 8px 8px;
    margin: -10px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.412);
    
}

main {
    background-color: #fff;
    width: auto;
    margin: 13px 10px -9px 10px;;
    padding: 1px 22px 22px 22px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.178);
}

article > h2 {
    font-size: 2.1em;
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');   
    color: #0a5d0a;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.119);
}

section > h3 {
    font-family: 'idroid';
    src: url('idroid.otf') format('opentype');
    background-image:linear-gradient(to right, #0a5d0a2e, #fff); 
    color: #0a5d0a;
    font-size: 1.5em;
    text-shadow: 2.5px 2.5px 3px rgba(0, 0, 0, 0.14);
    padding: 2px 0px 2px 6px;
    margin: auto auto auto -4px;
}

p {
    text-align: justify;
    font-size: 1em;
    font-family: sans-serif;
}

aside {
    font-size: 1em;
    background-color: #97f797f5;
    width: auto;
    padding: 0px 8px 2px 8px;  
    border-radius: 6px;
}

aside > h4 {
    font-size: 1.3em;
    background-color: #0d770d;
    color: #fff;
    padding: 9px 10px 5px 8px;
    border-radius: 6px;
    margin: -7.5px -8px;
}

footer {
    width: auto;
    background-color: #0b680b;
    padding: 2px;
    margin: -2px -10px -15px -10px;
}

footer > p {
    font-size: 1.2em;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.255);
}
